<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Chào  <span style="color: red;"> <%= name %></span> !,<br>

Lời đầu tiên, chúng tôi xin cảm ơn vì bạn đã quan tâm đến vị trí ứng tuyển của công ty <span style="color: red;font-size: 20px; font-weight: 600;"><%= Company %></span> . Thông qua CV mà bạn đã gửi về, chúng tôi nhận thấy bạn có kiến thức chuyên môn, kỹ năng phù hợp với vị trí mà chúng tôi đang tuyển dụng. <br>

Chúng tôi trân trọng kính mời bạn đến tham dự buổi phỏng vấn của công ty chúng tôi : <br>

Thời gian: 10 AM, ngày <span style="font-weight: 700; color: blue;"><%= day %></span>  <br>

Địa điểm: <span style="font-weight: 700; color: blue;"> <%= address %></span> .

Để buổi phỏng vấn diễn ra thuận lợi, bạn vui lòng phản hồi lại email này trong 24h sau khi nhận được. Nếu có bất kỳ thắc mắc nào, bạn vui lòng liên hệ với chúng tôi qua: 090 99999999 – <%= emailcompany %> <br>

<span style="color: red;font-size: 20px; font-weight: 600;"><%= Company %></span>  chúc bạn sẽ có một buổi phỏng vấn thành công. <br>

Trân trọng,

<span style="color: red;font-size: 20px; font-weight: 600;"><%= Company %></span> 
</body>
</html>